page-home {

    ion-title{
        background-color: cadetblue;
        text-align: center;
    }
ion-content{
    background-color: darkcyan !important;
}

.ggg{
    button{
        background-color: cadetblue !important;
        color: black;
    }
}
}
